.graphic-card-content {
  margin-top: 20px;
  text-align: center;
}

.graphic-card-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.graphic-itens {
  padding-bottom: 10px;
}

.graphic-card-body {
  font-size: 12px;
  padding: 10px 0 0 0;
  min-height: 360px;
}

.graphic-icon-title {
  margin-top: -3px;
}

.graphic-country-title {
  margin-top: 20px;
}

.graphic-country-image {
  border: 1px solid gray;
}

.graphic-select-country {
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 14px;
  height: 30px;
  background-color: white;
}

.graphic-icon-toggle {
  font-size: 32px !important;
}

.graphic-continents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphic-continents > div {
  margin-right: 5px;
}

.graphic-continents img {
  width: 30px;
  height: 30px;
}
