.header-container {
  padding-left: 0;
  padding-right: 0;
}

.header-container > div {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #050505;
  color: white;
}

.online-button {
  align-self: center;
}

.covid-logo {
  text-align: center;
}

.covid-logo-title {
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
}

@media (max-width: 375px) {
  .covid-logo {
    margin-top: 15px;
  }
  .covid-logo-title {
    font-size: 20px;
  }
  .covid-logo-sub-title {
    font-size: 12px;
  }
  .translate-button {
    margin-right: 5px;
  }
  .config {
    margin-left: -10px;
  }
}

@media (max-width: 360px) {
  .covid-logo-title {
    font-size: 18px;
  }
  .covid-logo-sub-title {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .covid-logo-title {
    font-size: 16px;
  }
  .covid-logo-sub-title {
    font-size: 12px;
  }
  .config {
    font-size: 12px;
  }
  .config-select {
    width: 60px;
    font-size: 10px;
  }
}

.covid-logo-sub-title {
  font-weight: bold;
  background-color: #228b22;
  border-radius: 10px;
}

.config {
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
  margin-top: 1px;
}

.config-time {
  margin-top: 10px;
}

.config-time > div {
  display: flex;
}

.config-overlay-info {
  margin-left: 20px;
}

.config-select-time {
  margin-left: 10px;
  margin-right: 10px;
}

.config-select {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.translate-button {
  margin-top: 10px;
}
