.content-about {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.about-buttons img {
  width: 150px;
  height: 55px;
}

.pagseguro-donate {
  margin-left: 50px;
}

.donate-buttons {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  border: 0;
}

.donate-buttons:hover {
  opacity: 0.8;
}

.pagseguro-button {
  background-color: #487714;
}

.paypal-button {
  background-color: #003687;
}

@media (max-width: 425px) {
  .about-buttons img {
    width: 110px;
    height: 40px;
  }
  .pagseguro-donate {
    margin-left: 30px;
  }
}
