.content-about {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.paypal-images {
  width: 150px;
}

.paypal-button {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  border: 0;
  background-color: #003687;
}

.picpay-donate {
  margin-top: 10px;
}

.picpay-image {
  width: 160px;
}

.paypal-button:hover {
  opacity: 0.8;
}
