.nav-tabs {
  justify-content: space-around;
  font-size: 16px;
  border: 1px solid #dee2e6;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.nav-tabs .nav-link.active {
  color: #007bff;
  font-weight: bold;
}

.nav-tabs .nav-link {
  text-decoration: none;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  color: black;
}

.configuration-card {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.configuration-timelapse-icon {
  font-size: 50px;
}

.configuration-select {
  width: 160px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.configuration-settings-icon {
  margin-top: -3px;
}

.configuration-switch-button-refresh {
  margin-top: 10px;
}

.sonar-emitter {
  text-align: center;
  line-height: 30px;
  position: relative;
  width: 120px;
  height: 120px;
  padding-top: 30px;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  z-index: 1;
}

.adjust-circle-value {
  margin-top: -5px;
}

.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.sonar-wave {
  animation: sonarWave 1.5s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.6;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

.global-stats > div {
  display: flex;
  justify-content: center;
}

.confirmed-bg {
  background-color: #3b79b7;
}

.recovered-bg {
  background-color: #228b22;
}

.infected-bg {
  background-color: #696969;
}

.deaths-bg {
  background-color: #ad2836;
}

.adjust-circles {
  display: flex;
  justify-content: space-around;
}

.today-info {
  margin-bottom: -25px;
  font-size: 12px;
}

.spinner-circle {
  margin-top: 15px;
}

.global-card-align {
  margin-top: 20px;
  margin-bottom: 15px;
}

.global-card-title {
  display: flex;
  justify-content: space-between;
}

.card-header h5 svg {
  margin-top: -3px;
}

.global-circle-percent {
  font-weight: normal;
  font-size: 12px;
  margin-top: -10px;
}

@media (max-width: 768px) {
  .sonar-emitter {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    padding-top: 20px;
    line-height: 25px;
    font-size: 12px;
  }

  .global-stats > div {
    margin-top: 10px;
  }

  .spinner-circle {
    margin-top: 10px;
  }

  .global-circle-percent {
    font-size: 10px;
    margin-top: -8px;
  }

  .-previous,
  .-next {
    height: 30px;
  }

  .-pageJump input {
    font-size: 10px;
    width: 20px;
    height: 20px;
  }

  .-pageSizeOptions {
    display: none;
  }

  .nav-tabs .nav-link {
    padding: 5px;
  }
}

@media (max-width: 550px) {
  .nav-tabs {
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
  }

  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .nav-tabs {
    font-size: 10px;
  }
}
